*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.containerLogin{
    margin-left: 25rem;
    margin-right: 0;
    height: 30rem;
    width: 30rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transparente{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.formLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.emailLogin{
    width: 15rem;
    height: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    border: 1px solid black;
    border-radius: 0.8rem;
    background-color: rgb(238, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;

}

.senhaLogin{
    width: 15rem;
    height: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    border: 1px solid black;
    border-radius: 0.8rem;
    background-color: rgb(238, 232, 232);
}

.logar{
    width: 5rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-weight: bolder;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formLogin p{
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.1);
}